<ion-header>
  <ion-toolbar>
    <ion-title>Hacker Detail</ion-title>
    <ion-button color="dark" routerLink="/user" routerDirection="forward"> <ion-icon name="arrow-back"></ion-icon>Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ user.login }}
      </ion-card-title>
      <ion-card-subtitle>
        Hacker since 1957
        <!-- {{ information.Year }} -->
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content text-center>
      <img [src]="user.avatar_url" class="info-img">
      {{ user.avatar_url }}

      <ion-item>
        <ion-label text-wrap>
          Followers
          <ion-badge color="primary">{{followersArray.length}}</ion-badge>
        </ion-label>
        <ion-button (click)="openModal(FOLLOWERS)">Open</ion-button>
      </ion-item>

      <ion-item>
        <ion-label text-wrap>
          Following
          <ion-badge color="primary">{{followingArray.length}}</ion-badge>
        </ion-label>
        <ion-button (click)="openModal(FOLLOWING)">Open</ion-button>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-button class="" expand="block" routerLink="/user" routerDirection="forward">
    Back
  </ion-button>
</ion-content>
