<ion-header>
  <ion-toolbar>
    <ion-title>Hacker Detail</ion-title>
    <ion-button color="dark" routerLink="/user" routerDirection="forward">
      <ion-icon name="arrow-back"></ion-icon>Back
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ user.login }}
      </ion-card-title>
      <ion-card-subtitle>
        Hacker since 1957
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content text-center>
      <img [src]="user.avatar_url" class="info-img">
      {{ user.avatar_url }}

      <ion-item>
        <ion-chip>
          <ion-label class="ion-margin-end">
            Followers
          </ion-label>
          <ion-badge color="dark">{{followersArray.length}}</ion-badge>
        </ion-chip>
        <ion-button class="ion-float-right" (click)="openModal(FOLLOWERS)">Show</ion-button>
      </ion-item>

      <ion-item>
        <ion-chip>
          <ion-label class="ion-margin-end">
            Following
          </ion-label>
          <ion-badge color="dark">{{followingArray.length}}</ion-badge>
        </ion-chip>
        <ion-button class="ion-float-end" (click)="openModal(FOLLOWING)">Show</ion-button>
      </ion-item>

    </ion-card-content>
  </ion-card>
  
</ion-content>
