<ion-header>
  <ion-toolbar>
    <ion-title>userDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
     
  <ion-card >
    <ion-card-header>
      <ion-card-title>
        {{ user.login }}
      </ion-card-title>
      <ion-card-subtitle>
        Hacker since 1957
        <!-- {{ information.Year }} -->
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content text-center>
      <img [src]="user.avatar_url" class="info-img">
      {{ user.avatar_url }}
 
      <ion-item lines="none">
        <ion-icon name="star-half" slot="start"></ion-icon>
        <ion-label>7.5</ion-label>
      </ion-item>
 
      <ion-item lines="none">
        <ion-icon name="clipboard" slot="start"></ion-icon>
        <ion-label text-wrap>N/Z</ion-label>
      </ion-item>
 
      <ion-item lines="none">
        <ion-icon name="contacts" slot="start"></ion-icon>
        <ion-label text-wrap>JP Nagar, Bangalore</ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>

    <ion-button expand="block" routerLink="/user" routerDirection="forward">
      User
    </ion-button>
</ion-content>
