<ion-header no-border>
  <ion-toolbar>
    <ion-title text-center>
      Hackers Hero
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="home-content">

  <ion-row center>
    <ion-col text-center>
      <ion-button color="secondary" routerLink="/hacker" routerDirection="forward">
        Hackers Hero
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row center>
    <ion-col text-center>
      <ion-button color="secondary" routerLink="/user" routerDirection="forward">
        More Hackers
      </ion-button>
    </ion-col>
  </ion-row>


  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" (ionCancel)="resetSearchTerm($event)"></ion-searchbar>

  <ion-item>
    <ion-label>Select Searchtype</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="filterChanged($event)">
      <ion-select-option value="Users">Loginname</ion-select-option>
      <ion-select-option value="repositories">Repositories</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>

    <div *ngIf="type == 'Users'">
      <ion-item *ngFor="let user of results">
        <ion-avatar slot="start">
          <img [src]="user.avatar_url" />
        </ion-avatar>
        <ion-label text-wrap>
          <h3>{{ user.login }}</h3>
        </ion-label>
        <ion-icon name="arrow-forward" size="large" (click)="goToUserDetails(user)"></ion-icon>
      </ion-item>
    </div>

    <div *ngIf="type == 'repositories'">
      <ion-item *ngFor="let repo of results">
        <ion-avatar slot="start" class="repo-avatar">
          <div>
            <p>{{avatarLetter(repo.name)}}</p>
          </div>
        </ion-avatar>
        <ion-label>
          <ion-text class="repo-name">
            <h3>{{repo.name}}</h3>
          </ion-text>
          <p>{{repo.created_at | date : 'mediumDate' }}</p>
          <ion-text>
            <p>{{repo.language}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </div>

  </ion-list>

</ion-content>
