<ion-header no-border>
  <ion-toolbar>
    <ion-title class="ion-text-left">
      Hackers Hero
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="hackersHero">
        #{{ hackersHero.login }}
      </ion-card-title>
      <ion-card-subtitle>
        Full Statck Developer, Benaglore
      </ion-card-subtitle>
    </ion-card-header>
    <img *ngIf="hackersHero" [src]="hackersHero.avatar_url" class="info-img">
    <ion-card-content text-center>
      <!-- <img *ngIf="hackersHero" [src]="hackersHero.avatar_url" class="info-img"> -->

      <ion-item lines="none">
        <ion-chip>
          <ion-label class="ion-margin-end">Followers</ion-label>
          <ion-badge color="primary">{{followersArray.length}}</ion-badge>
        </ion-chip>
        <ion-button slot="end" (click)="openModal(FOLLOWERS)" [disabled]="followersArray.length == 0">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item lines="none">
        <ion-chip>
          <ion-label class="ion-margin-end">
            Following
          </ion-label>
          <ion-badge color="primary">{{followingArray.length}}</ion-badge>
        </ion-chip>
        <ion-button slot="end" (click)="openModal(FOLLOWING)" [disabled]="followingArray.length == 0">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item lines="none">
          <ion-chip>
            <ion-label class="ion-margin-end">Projects</ion-label>
            <ion-badge color="primary">{{repos.length}}</ion-badge>
          </ion-chip>
          <ion-button slot="end" (click)="openModal(FOLLOWERS)" [disabled]="followersArray.length == 0">
            <ion-icon name="arrow-down"></ion-icon>
          </ion-button>
        </ion-item>

      <div class="homeSlider">
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <span class="slider-nav arrow-prev" (click)="slidePrev(slider,slideWithNav)">
                <ion-icon name="arrow-dropleft" class="prev-icon-custom custon-nav"
                  [class.disabled]="slider.isBeginningSlide"></ion-icon>
              </span>
            </ion-col>
            <ion-col size="9">
              <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
                (ionSlideDidChange)="SlideDidChange(slider,slideWithNav)">
                <ion-slide *ngFor="let repo of slider.slidesItems">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="6">Name</ion-col>
                      <ion-col size="6">{{repo.name}}</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">Description</ion-col>
                      <ion-col size="6">{{repo.description}}</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">Language</ion-col>
                      <ion-col size="6">{{repo.language}}</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">Open Issue</ion-col>
                      <ion-col size="6">{{repo.open_issues_count}}</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">Created At</ion-col>
                      <ion-col size="6">{{repo.created_at}}</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">Last Updated</ion-col>
                      <ion-col size="6">{{repo.updated_at}}</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">watchers</ion-col>
                      <ion-col size="6">{{repo.watchers}}</ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-slide>
              </ion-slides>
            </ion-col>
            <ion-col size="1">
              <span class="slider-nav arrow-next" (click)="slideNext(slider,slideWithNav)">
                <ion-icon name="arrow-dropright" class="next-icon-custom custon-nav"
                  [class.disabled]="slider.isEndSlide"></ion-icon>
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-row center>
        <ion-col text-center>
          <ion-button routerLink="/user" routerDirection="forward">
            More Hackers
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">Follow</ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button target="_blank" href="https://www.linkedin.com/in/theprajwalnayak/">
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-fab-button>
      <ion-fab-button target="_blank" href="https://twitter.com/theprajwalnayak">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button target="_blank" href="https://www.facebook.com/theprajwalnayak">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button target="_blank" href="https://github.com/theprajwalnayak">
        <ion-icon name="logo-github"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
