.home-content {

    .home-bg-video {
        // width: 80%;
        overflow: hidden;
    }

    .search-card {
        .repo-avatar {
            margin-right: 32px;

            div {
                height: 50px;
                width: 50px;
                border-radius: 50px;
                background: var(--ion-color-primary);
                color: white;
                font-weight: bolder;
                position: relative;

                p {
                    font-weight: bold;
                    font-size: 22px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .repo-name {
            font-family: 'OpenSans-Bold';

            h2 {
                // margin-bottom: 8px;
            }
        }
    }

    .home-quote {
        background-color: #FFE32C;
        background-image: linear-gradient(180deg, #FFE32C 25%, #0336FF 100%);

        .blockquote-wrapper {
            display: flex;
            // height: 100vh;
            padding: 0 20px;
        }

        /* Blockquote main style */
        .blockquote {
            position: relative;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            color: #ffffff;
            padding: 30px 0;
            width: 100%;
            max-width: 500px;
            z-index: 1;
            margin: 80px auto;
            align-self: center;
            border-top: solid 1px;
            border-bottom: solid 1px;
        }

        /* Blockquote header */
        .blockquote h1 {
            position: relative;
            color: #FFFFFF;
            font-size: 40px;
            font-weight: 800;
            line-height: 1;
            margin: 0;
        }

        /* Blockquote right double quotes */
        .blockquote:after {
            position: absolute;
            content: "”";
            color: rgba(255, 255, 255, 1);
            font-size: 10rem;
            line-height: 0;
            bottom: -43px;
            right: 30px;
        }

        /* increase header size after 600px */
        @media all and (min-width: 600px) {
            .blockquote h1 {
                font-size: 60px;
            }

        }
        /* Blockquote subheader */
        .blockquote h4 {
            position: relative;
            color: #292a2b;
            font-size: 1.4rem;
            font-weight: normal;
            line-height: 1;
            margin: 0;
            padding-top: 20px;
            z-index: 1;
        }

    }

}