.hacker-card {

    .hacker-card-content {
        .hacker-img {
            border: 2px solid var(--ion-color-primary);
            padding: 2px;
            border-radius: 50%;
        }

        .repo-avatar {
            margin-right: 32px;

            div {
                height: 50px;
                width: 50px;
                border-radius: 50px;
                background: var(--ion-color-primary);
                color: white;
                font-weight: bolder;
                position: relative;

                p {
                    font-weight: bold;
                    font-size: 22px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .repo-name {
            font-family: 'OpenSans-Bold';

            h2 {
                // margin-bottom: 8px;
            }
        }
    }
}